.flex-container{
    display: grid;
    grid-auto-columns: 60vw 30vw;
}
.flex-box{
    width: fit-content;
    height: fit-content;
    max-width: 60vw;
    align-content: center;
    margin: 30px;
    border-radius: 25px;
    border: 2px solid rgb(98, 209, 243);
    padding: 20px;
}

.box{
    background-color: #48aef3;
    background-blend-mode: hue;
}