.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;

}
.flex-box{
    width: fit-content;
    height: fit-content;
    max-width: 40vw;
    margin: 30px;
   /* flex-grow: 1; */
   /* flex-basis: 100%; */
    border-radius: 25px;
    border: 2px solid rgb(98, 209, 243);
    padding: 20px;
}

.box{
    background-color: #48aef3;
    background-blend-mode: hue;
}