.grid-profilecontainer {
    display: grid;
    height: 100vw;
    grid-template-rows: 10% 80% 11%;
    grid-template-columns: 100%;
}

.grid {
    border: 1px solid;
}

.main-container{
    padding: 3%;
    display: grid;
    height: 94%;
    width: 94%;
    grid-template-rows: 100%;
    grid-template-columns: 100%; 
}