.grid-profilecontainer {
    display: grid;
    height: 100vw;
    grid-template-rows: 10% 80% 11%;
    grid-template-columns: 100%;
}

.grid {
    border: 1px solid;
}

.main-container{
    display: grid;
    height: 94%;
    width: 94%;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 30% 65% 5%; 
}

.form-container{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50% ;
}
.padding{
    padding: 30px;
}