html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0em;
  background-color: transparent;
}



body {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
  }


.grid-container {
    display: grid;
    height: 100vw;
    grid-template-rows: 11% 80% 10%;
    grid-template-columns: 100%;
}

.grid {
    border: 0px solid;

}

body {
    padding: 0;
    margin: 0;
}


.parallax { 
    /* The image used */
    background-image: url("http://schoolconstructionnews.com/wp-content/uploads/2017/09/FOMHouston.800.jpg");
  
    /* Set a specific height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @font-face {
      font-family: SourceSansPro;
      src: url('\resources\SourceSansPro-Regular.otf')
  }


.items{
    background-color: rgb(12, 59, 92, 0.7);;
    border: 1px solid #d1d1d1;
    margin: 10px;
    padding: 15px;
    color: #d1d1d1;
}



/* SLideshow*/
  .slideshow{
    position: relative;
    display: block;
    overflow: hidden;
    height: 40vw;
    width: 100vw
  }
  figure{
    position: absolute;
    opacity: 0;
    transition: 1s opacity;
  }
  figcaption{
    position: absolute;
    font-family: sans-serif;
    font-size: .8em;
    bottom: .75em;
    right: .35em;
    padding: .25em;
    color: #fff;
    background: rgba(0,0,0, .25);
    border-radius: 2px;
  }
  figcaption a{
    color: #fff;
  }
  figure.show{
    opacity: 1;
    position: static;
    transition: 1s opacity;
  }
  .next, .prev{
    color: #fff;
    position: absolute;
    background: rgba(0,0,0, .6);
    top: 50%;
    z-index: 1;
    font-size: 2em;
    margin-top: -.75em;
    opacity: .3;
    user-select: none;
  }
  .next:hover, .prev:hover{
    cursor: pointer;
    opacity: 1;
  }
  .next{
    right: 0;
    padding: 10px 5px 15px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .prev{
    left: 0;
    padding: 10px 10px 15px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  p{
    margin: 10px 20px;
    color: #fff;
  }
  a{color:#fff;}