
.grid-container {
    display: grid;
    height: 100vw;
    grid-template-rows: 11% 80% 10%;
    grid-template-columns: 100%;
}

.grid {
    border: 0px solid;

}

body {
    padding: 0;
    margin: 0;
}


.parallax { 
    /* The image used */
    background-image: url("http://schoolconstructionnews.com/wp-content/uploads/2017/09/FOMHouston.800.jpg");
  
    /* Set a specific height */
    height: 200vmax; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @font-face {
      font-family: SourceSansPro;
      src: url('\resources\SourceSansPro-Regular.otf')
  }


.items{
    background-color: rgb(12, 59, 92, 0.7);;
    border: 1px solid #d1d1d1;
    margin: 10px;
    padding: 15px;
    color: #d1d1d1;
}

.rightimage{
    position: relative;
    left: 550px;
}

.leftimage{
    position: relative;
    left: -23px;
}
