
.welcome-container {
    display: grid;
    grid-template-columns: 3;
    grid-gap: 10px;
    grid-auto-rows: 45% 50%;
  }
  .one { 
    grid-column: 1 / 4;
    background-color: aqua;
  }
  .two {
    grid-column: 1;
    grid-row: 3;
  }
  .three {
    grid-column: 2;
    grid-row: 4;
  }
  .four {
    grid-column: 3;
    grid-row: 4;
  }
/*
.parralax {
    padding: 0;
    margin: 0;
    /* The image used */
    /* background-image: url("http://schoolconstructionnews.com/wp-content/uploads/2017/09/FOMHouston.800.jpg"); */

    /* Set a specific height */
    /* height: 100%;  */
  
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  
  @font-face {
    font-family: SourceSansPro;
    src: url('\resources\SourceSansPro-Regular.otf')
}

/*Slideshow */

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*
<figure class="show">
      <img src="http://themarklee.com/wp-content/uploads/2013/12/snowying.jpg" width="100%" />
      <figcaption>Description</figcaption> 
    </figure>
    <figure>
      <img src="http://themarklee.com/wp-content/uploads/2013/12/starlight.jpg" width="100%" />
      <figcaption>Description</figcaption> 
    </figure>
    <figure>
      <img src="http://themarklee.com/wp-content/uploads/2013/12/snowstorm.jpg" width="100%" />
      <figcaption>Description</figcaption> 
    </figure>
    <figure>
      <img src="http://themarklee.com/wp-content/uploads/2013/12/misty-winter-afternoon.jpg" width="100%" />
      <figcaption>Description</figcaption> 
    </figure>
    <figure>
      <img src="http://themarklee.com/wp-content/uploads/2013/12/good-morning.jpg" width="100%" />
      <figcaption>Description</figcaption> 
    </figure>
    <figure>
      <img src="http://themarklee.com/wp-content/uploads/2013/12/driving-home-for-christmas.jpg" width="100%" />
      <figcaption>Description</figcaption> 
    </figure>
    <span class="prev">&laquo;</span>
    <span class="next">&raquo;</span>
    */