
.welcome-container {
    display: grid;
    grid-template-columns: 3;
    grid-gap: 10px;
    grid-auto-rows: 45% 50%;
  }
  .one { 
    grid-column: 1 / 4;
    background-color: aqua;
  }
  .two {
    grid-column: 1;
    grid-row: 3;
  }
  .three {
    grid-column: 2;
    grid-row: 4;
  }
  .four {
    grid-column: 3;
    grid-row: 4;
  }
  
  @font-face {
    font-family: SourceSansPro;
    src: url('\resources\SourceSansPro-Regular.otf')
}

/*Slideshow */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

  .image{
    max-height: 38vmax;
  }